@model EventManager.Models.Events
@{
    ViewData["Title"] = "Add Event Page";
}
@inject UserManager<ApplicationUser> UserManager
<h2>Event Create</h2>
<form asp-action="AddEvent" method="post">
    <div>
        <div>EventName <p><input type="text" id="EventName" asp-for="EventName" value="" /></p></div>
        <span asp-validation-for="EventName" class="text-danger"></span>
        <input type="hidden" asp-for="ArtistName" value=@UserManager.GetUserName(User)>
        <div>EventDate <p><input type="date" id="EventDate" asp-for="EventDate" value="" /></p></div>
        <span asp-validation-for="EventDate" class="text-danger"></span>
        <div>EventLocation <p><input type="text" id="Location" asp-for="Location" value="" /></p></div>
        <span asp-validation-for="Location" class="text-danger"></span>
        <div>EventGenre <p><input type="text" id="Genre" asp-for="Genre" value="" /></p></div>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div>
        <button>
            Create Event
        </button>
    </div>
</form>
<form asp-controller="Home" asp-action="Index" method="get">
    <div>
        <button id="backButton">
            Back to Event Home
        </button>
    </div>
</form>