@{
    ViewData["Title"] = "Home Page";
}
<h2 class="jumbotron , text-center">
    Welcome to Music Manager
</h2>
<body class="container , text-center">
    You can look for Albums, Artists, or Genres below or in the top navigation bar.
    <div>
        <button>
            Albums Here
        </button>
        <button>
            Artists Here
        </button>
        <button>
            Genres Here
        </button>
    </div>
</body>