@{
    ViewData["Title"] = "Home Page";
}
<h2 class="jumbotron , text-center">
    Welcome to Music Manager
</h2>
<body class="container , text-center">
    <p id="homePage">
        You can look for Albums, Artists, or Genres below or in the top navigation bar.
    </p>
    <p>
        <button class="col-lg-4 , btn-lg , btn-info" id="AlbumButton">
            Albums Here
        </button>
        <button class="col-lg-4 , btn-lg , btn-info" id="ArtistButton">
            Artists Here
        </button>
        <button class="col-lg-4 , btn-lg , btn-info" id="GenreButton">
            Genres Here
        </button>
    </p>
</body>