@model IEnumerable<MusicFall2016.Models.Artist>
@{
    ViewData["Title"] = "Artist Create";
}
<h2>Artist Create</h2>
<form action="#" method="post">
    <div>
        Name <p><input type="text" id="Name" value="" /></p>
        Bio <p><input type="text" id="Bio" value="" /></p>
    </div>
    <div>
        <button id="createButton">
            Create Artist
        </button>
    </div>
</form>
<form action="Details" method="get">
    <div>
        <button id="backButton">
            Back to List
        </button>
    </div>
</form>