@model MusicFall2016.Models.Artist
@{
    ViewData["Title"] = "Artist Create";
}
<h2>Artist Create</h2>
<form asp-action="Create" method="post">
    <div>
        Name <p><input type="text" id="Name" asp-for="Name" value="" /></p>
        Bio <p><input type="text" id="Bio" asp-for="Bio" value="" /></p>
    </div>
    <div>
        <button id="createButton2">
            Create Artist
        </button>
    </div>
</form>
<form action="Details" method="get">
    <div>
        <button id="backButton">
            Back to List
        </button>
    </div>
</form>