@model IEnumerable<MusicFall2016.Models.Artist>
@{
    ViewData["Title"] = "Artist Create";
}
<h2>Artist Create</h2>
<div>
    Title <p><input type="text" id="CreateName" value="" /></p>
    Artist <p><input type="text" id="CreateBio" value="" /></p>
</div>
<div>
    <button id="createButton">
        Create Artist
    </button>
</div>