@model MusicFall2016.Models.Artist
@{
    ViewData["Title"] = "Artist Read";
}
<h2>Artist Read</h2>
<form action="/" method="post">
    <p>@Model.Name</p>
    <p>@Model.Bio</p>
</form>
<form action="/Artists/Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>