@model MusicFall2016.Models.ApplicationUserViewModel
@{
    ViewData["Title"] = "Logoff";
}
<h2>
    Logoff
</h2>
<form asp-action="Logoff" method="post">
    <button>
        Login
    </button>
</form>
