@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "User Playlists";
}

<h2>
    Playlists
</h2>
<p></p>

<form asp-action="CreatePlaylist" method="get">
    <button>
        Click to Add An Album to Playlist
    </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Albums
            </th>
        </tr>
    </thead>
        <tr>
            <td>
                <div>Albums <p><select asp-items="ViewBag.AlbumList" class="btn-lg"></select></p></div>
            </td>
        </tr>
</table>
    <p>
        User: @User.Identity.Name
    </p>
    <p>
        Date Joined: 11/17/16
    </p>
