@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "User Playlists";
}

<h2>
    Playlists
</h2>
<p></p>

<form asp-action="Playlists" method="post">
    <button>
        Click to Add An Album to Playlist
    </button>
</form>
