@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "User Playlists";
}

<h2>
    Playlists
</h2>
<p></p>

<form asp-action="Playlists" method="post">
    <button>
        Click to Add An Album to Playlist
    </button>
</form>
@foreach (var album in Model.PlaylistList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => album.PlaylistID)
        </td>
   </tr>
}

<p>
    User: @User.Identity.Name

    Date Joined: 
</p>
