@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre Create";
}
<h2>Genre Create</h2>
<form action="Create" method="post">
    <div>
        Genre Name <p><input type="text" id="Name" value="" /></p>
    </div>
    <div>
        <button id="createButton3">
            Create Genre
        </button>
    </div>
</form>
<form action="Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>
