@model MusicFall2016.Models.Genre
@{
    ViewData["Title"] = "Genre Create";
}
<h2>Genre Create</h2>
<form asp-action="Create" method="post">
    <div>
        <div>Genre Name <p><input type="text" id="Name" asp-for="Name" value="" max="20"></p></div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <button id="createButton3">
            Create Genre
        </button>
    </div>
</form>
<form action="Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>
