@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre Create";
}
<h2>Genre Create</h2>
<form action="/" method="post">
    <div>
        Genre Name <p><input type="text" id="CreateGenre" value="" /></p>
    </div>
    <div>
        <button id="createButton">
            Create Genre
        </button>
    </div>
</form>