@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genres";
}
<h2>Genre List</h2>

<form action="Create" method="get">
    <div>
        <button id="createButton4">
            Create Album
        </button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Genre</th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td>@genre.Name</td>
            <td>
                <a asp-action="Update" asp-route-id="@genre.GenreID">Edit</a> |
                <a asp-action="Read" asp-route-id="@genre.GenreID">Details</a> |
            </td>
        </tr>
    }
    </table>

