@model MusicFall2016.Models.Genre
@{
    ViewData["Title"] = "Genre Read";
}
<h2>Genre Read</h2>
<p>@Model.Name</p>
<form action="/Genres/Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>