@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre Read";
}
<h2>Genre Read</h2>
   
ViewBag.Genre.Name
<form action="Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>