@model MusicFall2016.Models.Genre
@{
    ViewData["Title"] = "Genre Update";
}
<h2>Genre Update</h2>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="GenreID" value="@Model.GenreID">
    <div>Name: @Model.Name</div>
    <div>
        <button id="updateButton">
            Update Genre
        </button>
    </div>
</form>