@model IEnumerable<MusicFall2016.Models.Album>
@{
    ViewData["Title"] = "Albums Create";
}
<h2>Album Create</h2>
<form action="#" method="post">
    <div>
        Title <p><input type="text" id="Title" value="" /></p>
        Artist <p><input type="text" id="Artist" value="" /></p>
        Genre <p><input type="text" id="Genre" value="" /></p>
        Price <p><input type="text" id="Price" value="" /></p>
    </div>
    <div>
        <button id="createButton">
            Create Album
        </button>
    </div>
</form>