@model EventManager.Models.FollowedArtists
@{
    ViewData["Title"] = "Follow Artist Page";
}
@inject UserManager<ApplicationUser> UserManager
<h2>Artists Followed</h2>
<table class="table">
    <thead>
        <tr>
            <th>
               Artists
            </th>
            <th>
               Events 
            </th>
        </tr>
    </thead>
    @foreach (var name in Model.Artists)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => name.UserName)
            </td>
            <td>
                Events Go Here
            </td>
        </tr>
    }
</table>
<form asp-action="Index" method="get" value="">
    <div>
        <button>
            Back to Home
        </button>
    </div>
</form>